# Django settings
DEBUG='True'
SECRET_KEY='ilovequibble'
DJANGO_ALLOWED_HOSTS=
DJANGO_ALLOWED_ORIGINS='http://localhost:5173'
DJANGO_COOKIE_DOMAIN='localhost'
OAUTH_CALLBACK_URL='http://localhost:5173/callback/'

# Postgres db
DATABASE_URL='postgres://postgres:quibble_pass@localhost:5432/quibble_db'

# Sendgrid
SENDGRID_API_KEY=
SENDGRID_EMAIL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
