asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
attrs==24.3.0 ; python_version >= "3.12" and python_version < "4.0"
dj-database-url==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
django-cleanup==9.0.0 ; python_version >= "3.12" and python_version < "4.0"
django-cors-headers==4.6.0 ; python_version >= "3.12" and python_version < "4.0"
django-dynamic-filenames==1.4.0 ; python_version >= "3.12" and python_version < "4.0"
django-filter==24.3 ; python_version >= "3.12" and python_version < "4.0"
django-rest-knox==5.0.2 ; python_version >= "3.12" and python_version < "4.0"
django==5.1.5 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "4.0"
drf-spectacular-sidecar==2024.12.1 ; python_version >= "3.12" and python_version < "4.0"
drf-spectacular==0.28.0 ; python_version >= "3.12" and python_version < "4.0"
drf-spectacular[sidecar]==0.28.0 ; python_version >= "3.12" and python_version < "4.0"
drf-standardized-errors[openapi]==0.14.1 ; python_version >= "3.12" and python_version < "4.0"
inflection==0.5.1 ; python_version >= "3.12" and python_version < "4.0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.12" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.12" and python_version < "4.0"
markdown==3.7 ; python_version >= "3.12" and python_version < "4.0"
pillow==11.0.0 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
referencing==0.35.1 ; python_version >= "3.12" and python_version < "4.0"
rpds-py==0.21.0 ; python_version >= "3.12" and python_version < "4.0"
semantic-version==2.10.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.2 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
uritemplate==4.1.1 ; python_version >= "3.12" and python_version < "4.0"
