name: Lint

on:
  push:
    branches:
      - '*'
    paths:
      - 'backend/**'
      - 'frontend/**'
  pull_request:
    branches:
      - '*'
    paths:
      - 'backend/**'
      - 'frontend/**'

jobs:
  backend:
    defaults:
      run:
        working-directory: ./backend
    if: "contains(github.event.head_commit.modified, 'backend/')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Run isort and flake8
        run: poetry run poe lint

  frontend:
    defaults:
      run:
        working-directory: ./frontend
    if: "contains(github.event.head_commit.modified, 'frontend/')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache-dependency-path: ./frontend/package-lock.json
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run eslint
        run: npm run lint
